<!--
    公共静态资源
    User: Adoph
    Date: 2017/10/16
-->
<head th:fragment="common_header(title,scripts,links)" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8"/>
    <title th:replace="${title}">未知标题</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--favicon-->
    <link rel="shortcut icon" th:href="@{/image/icon/favicon.ico}">

    <!--Ext JS 6.5.2-->
    <link rel="stylesheet" type="text/css" th:href="@{/ext/build/classic/theme-triton/resources/theme-triton-all.css}"/>
    <script type="text/javascript" th:src="@{/ext/ext-bootstrap.js}"></script>
    <script type="text/javascript" th:src="@{/ext/build/classic/locale/locale-zh_CN.js}"></script>

    <!--Ext JS 扩展包-->
    <!--日期格式化-->
    <script type="text/javascript" th:src="@{/sys/ext.date.patterns.js}"></script>

    <!--系统库-->
    <script type="text/javascript" th:src="@{/sys/core.js}" charset="utf-8"></script>

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}"/>

    <!--/* Per-page placeholder for additional scripts */-->
    <th:block th:replace="${scripts}"/>
</head>