<!--
    系统用户管理
    User: Adoph
    Date: 2017/10/13
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/common/header :: common_header(~{::title},_,_)">
    <title>系统用户管理</title>
</head>
<body>
<div class="container">
    <div class="layui-collapse" lay-filter="userQueryForm" style="margin-top: 5px">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title">查询表单</h2>
            <div class="layui-colla-content layui-show">
                <form class="layui-form" action="" style="">
                    <div class="layui-row">
                        <div class="layui-row">
                            <div class="layui-col-md9">
                                <label class="layui-form-label">用户名</label>
                                <input type="text" name="userName" required lay-verify="required" placeholder="请输入用户名"
                                       autocomplete="off"
                                       class="layui-input" style="width: 275px">
                            </div>
                            <div class="layui-col-md3">
                                <button class="layui-btn" lay-submit lay-filter="query">查询</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="layui-btn-group" style="margin-top: 5px">
        <button class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe654;</i>增加</button>
        <button class="layui-btn layui-btn-normal"><i class="layui-icon">&#xe642;</i>编辑</button>
        <button class="layui-btn layui-btn-danger"><i class="layui-icon">&#xe640;</i>删除</button>
    </div>
    <table class="layui-table" lay-data="{height:'full-335', url:'/sysUser/list.do', page:true, id:'userTable'}"
           lay-filter="userTable">
        <thead>
        <tr>
            <th lay-data="{field:'id', width:80, sort: true, fixed: true, align:'center'}">ID</th>
            <th lay-data="{field:'userName', width:180, align:'center'}">用户名</th>
        </tr>
        </thead>
    </table>
</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-mini" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
</script>

<script>
    layui.use(['laypage', 'layer', 'table', 'element'], function () {
        var laypage = layui.laypage,//分页
            layer = layui.layer, //弹层
            table = layui.table,//表格
            element = layui.element; //元素操作

        //监听Tab切换
        element.on('tab(userTable)', function (data) {
            layer.msg('切换了：' + this.innerHTML);
            console.log(data);
        });

        //监听工具条
        table.on('tool(userTable)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                , layEvent = obj.event; //获得 lay-event 对应的值
            if (layEvent === 'detail') {
                layer.msg('查看操作');
            } else if (layEvent === 'del') {
                layer.confirm('真的删除行么', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if (layEvent === 'edit') {
                layer.msg('编辑操作');
            }
        });
    });
</script>
</body>
</html>