<!--
    Framework首页
    User: Adoph
    Date: 2017/9/13
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Framework首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--layui-->
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<div class="layui-container">
    登录成功！
</div>
</body>
</html>