/*最外层容器*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*上下左右居中*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*登录容器*/
.container {
    border: 1px solid #e6e6e6;
    background-color: rgba(255, 255, 255, 0.66);
    border-radius: 30px;
    padding: 0px 40px;
}

/*验证码输入框*/
.code {
    float: left;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: center;
    width: 80px;
    height: 37px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
    vertical-align: middle;
    margin-left: 10px;
}

.code:hover {
    border-color: #D2D2D2 !important;
}

/*验证码图片*/
.codeImage {
    float: left;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    border-radius: 2px;
    margin-left: 18px;
    cursor: pointer;
}

/*验证码切换按钮*/
.codeBtn {
    cursor: pointer;
    width: 45px;
    display: inline-block;
    margin-left: 16px;
}

.codeBtn:hover {
    color: #f72f41;
    text-decoration: underline !important;
}

.titleCon {
    margin-bottom: 20px;
    text-align: center;
    padding: 30px;
    font: 30px/100% "微软雅黑", "Lucida Grande", "Lucida Sans", Helvetica, Arial, Sans;
    color: #fff;
    text-transform: uppercase;
}