<!--
    Framework入口
    User: Adoph
    Date: 2017/8/18
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/common/header :: common_header(~{::title},~{::script},~{::link})">
    <title>Framework用户登录</title>
    <!--bootstrap css-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!--核心JS库-->
    <script type="text/javascript" th:src="@{/sys/core.js}" charset="utf-8"></script>
    <!--RSA加密-->
    <script type="text/javascript" th:src="@{/js/encrypt/jsencrypt.min.js}" charset="utf-8"></script>
    <!--UUID-->
    <script type="text/javascript" th:src="@{/js/uuid.js}"></script>
    <!--ExtJs APP ENTRANCE-->
    <script type="text/javascript" th:src="@{/app/Application.js}"></script>
    <script type="text/javascript">
        Ext.Loader.setConfig({
            enabled: true, //开启异步加载模式
            paths: {
                'Framework': 'app',
                'Ext.ux': '/ext/packages/ux/classic/src'
            }
        });
        Ext.application('Framework.Application');
    </script>
</head>
</html>
