<!--
    Framework入口
    User: Adoph
    Date: 2017/8/18
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="/common/header :: common_header(~{::title},~{::script},~{::link})">
    <title>Framework后台管理系统</title>
    <!--bootstrap css-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!--自定义样式-->
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <!--核心JS库-->
    <script type="text/javascript" th:src="@{/sys/core.js}" charset="utf-8"></script>
    <!--RSA加密-->
    <script type="text/javascript" th:src="@{/js/encrypt/jsencrypt.min.js}" charset="utf-8"></script>
    <!--UUID-->
    <script type="text/javascript" th:src="@{/js/uuid.js}"></script>
    <!--ExtJs APP ENTRANCE-->
    <script type="text/javascript" th:src="@{/app/Application.js}"></script>
    <script type="text/javascript">
        Ext.Loader.setConfig({
            enabled: true, //开启异步加载模式
            paths: {
                'Ext.ux': '/ext/packages/ux/classic/src'
            }
        });
        Ext.Ajax.on('requestexception', function (conn, response) {
            //会话超时处理
            if (response.status === 520) {
                Ext.Msg.alert('系统提示', '会话超时，请重新登录!', function () {
                    //清除缓存
                    localStorage.clear();
                    //清除cookie
                    // Ext.util.Cookies.destroyMembers ("SESSION", "JSESSIONID");
                    //跳转登录页面
                    this.location.href = "/index.do";
                });
            }
        });
        Ext.application('Framework.Application');
    </script>
</head>
</html>
