<!--
    Framework登录模块
    User: Adoph
    Date: 2017/8/18
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Framework登录模块</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--layui start-->
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
    <!--layui end-->

    <!--登录界面样式-->
    <link rel="stylesheet" href="/css/login/login.css">

    <!--系统库 start-->
    <script type="text/javascript" src="/sys/core.js" charset="utf-8"></script>
    <script type="text/javascript" src="/js/encrypt/jsencrypt.min.js" charset="utf-8"></script>
    <!--系统库 end-->
</head>
<body>
<div class="container">
    <div class="titleCon">
        <a href="https://github.com/SmithAdoph/framework.git" target="_blank">
            <span style="color: #0950ff">甘道夫</span>&nbsp;权限管理系统
        </a>
    </div>
    <form class="layui-form">
        <input type="hidden" name="loginId" id="loginId" th:value="${{loginId}}"/>
        <input type="hidden" id="publicKey" th:value="${{publicKey}}"/>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="userName" required="required" lay-verify="required" placeholder="请输入用户名"
                       autocomplete="off"
                       class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码框</label>
            <div class="layui-input-inline">
                <input type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码"
                       autocomplete="off"
                       class="layui-input"/>
            </div>
        </div>
        <div id="verifyCode" class="layui-form-item layui-hide">
            <input type="text" name="verifyCode" class="code" required="required"
                   placeholder="验证码"/>
            <img class="codeImage" width="130" height="38"/>
            <a class="codeBtn">看不清换一张</a>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="login">登&nbsp;&nbsp;录</button>
            </div>
        </div>
    </form>
</div>

<script th:inline="javascript">
    layui.use(['jquery', 'form', 'layer', 'element'], function () {
        var form = layui.form,
            $ = layui.$,
            layer = layui.layer;

        //监听提交
        form.on('submit(login)', function (data) {
            var params = data.field;
            var url = "/login/doLogin.do";

            // 加密
            params.password = encrypt(params.password);

            $.ajax({
                url: url,
                type: "POST",
                data: params,
                success: function (r) {
                    if ($req.isSuccess(r.status)) {
                        layer.msg(r.msg, {icon: 1});
                    } else {
                        layer.open({
                            title: '系统提示',
                            content: r.msg,
                            icon: 2
                        });
                        var data = r.data;
                        if (data) {
                            var $verifyCode = $("#verifyCode");
                            var hide = $verifyCode.hasClass("layui-hide");
                            if (data.showVerifyCode === 1 && hide) {//显示验证码
                                $(".code").attr("lay-verify", "required");
                                $verifyCode.removeClass("layui-hide");
                                var image = $(".codeImage").attr("src");
                                if (!image) {
                                    refreshVerifyCode();
                                }
                            } else {
                                refreshVerifyCode();
                            }
                        }
                    }
                },
                error: function (r) {
                    layer.open({
                        title: '系统提示',
                        content: '登录异常，请稍后重试！',
                        icon: 2
                    });
                }
            });
            return false;
        });

        //加密
        function encrypt(password) {
            var encrypt = new JSEncrypt();
            encrypt.setPublicKey($('#publicKey').val());
            return encrypt.encrypt(password);
        }

        $('.codeBtn').on('click', function () {
            refreshVerifyCode();
        });

        $('.codeImage').on('click', function () {
            refreshVerifyCode();
        });

        //刷新验证码，清空输入
        function refreshVerifyCode() {
            var second = new Date().getTime();
            var loginId = [[${loginId}]];
            $(".code").val("");
            $(".codeImage").attr("src", "/login/verifyCode.do?loginId=" + loginId + "&uuid=" + second);
        }
    });
</script>
</body>
</html>