<!--
    Framework登录模块
    User: Adoph
    Date: 2017/8/18
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Framework登录模块</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--layui start-->
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script type="text/javascript" src="/layui/layui.js" charset="utf-8"></script>
    <!--layui end-->

    <!--系统库 start-->
    <script type="text/javascript" src="/sys/core.js" charset="utf-8"></script>
    <script type="text/javascript" src="/encrypt/jsencrypt.min.js" charset="utf-8"></script>
    <!--系统库 end-->
    <style>
        #container {
            position: relative;
        }

        #center {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 260%);
        }
    </style>
</head>
<body>
<div id="container" class="">
    <div id="center">
        <form class="layui-form">
            <input type="hidden" name="loginId" id="loginId" th:value="${{loginId}}"/>
            <input type="hidden" id="publicKey" th:value="${{publicKey}}"/>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="userName" required="required" lay-verify="required" placeholder="请输入用户名"
                           autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码框</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required="required" lay-verify="required" placeholder="请输入密码"
                           autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="login">登录</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    layui.use(['jquery', 'form', 'layer'], function () {
        var form = layui.form,
            $ = layui.$,
            layer = layui.layer;

        //监听提交
        form.on('submit(login)', function (data) {
            var params = data.field;
            var url = "/login/doLogin.do";

            // 加密
            params.password = encrypt(params.password);

            $.ajax({
                url: url,
                type: "POST",
                data: params,
                success: function (r) {
                    if ($req.success(r.status)) {
                        layer.msg(r.msg, {icon: 1});
                    } else {
                        layer.open({
                            title: '系统提示',
                            content: r.msg,
                            icon: 2
                        });
                    }
                },
                error: function (r) {
                    layer.open({
                        title: '系统提示',
                        content: '登录异常，请稍后重试！',
                        icon: 2
                    });
                }
            });
            return false;
        });

        //加密
        function encrypt(password) {
            var encrypt = new JSEncrypt();
            encrypt.setPublicKey($('#publicKey').val());
            return encrypt.encrypt(password);
        }
    });
</script>
</body>
</html>